/*--------------------
------font-styles------
---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*-----------------------------
--- Common styles or Utilites ---
---------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin-left: 25px;
    margin-right: 25px;
}
nav h1{
    font-size: 24px;
  text-align: center;
}
/* First section styles */
.influencer{
    display:flex;
}
.influencer-introduction{
    width: 50%;
}
.title{
    font-size: 50px;
    font-weight:700;
}
.title:hover{
    color: #B9345A;
  transition: 0.5s ease-in-out;
}
.text{
    font-size: 16px;
}
.button{
    width: 196px;
    height: 44px;
    text-decoration: none;
    color: white;
    background: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
}
.button:hover{
    color: black;
    background-color: #02B290;
    transition: 1s ease-in-out;
}
.banner img{
width: 100%;
}
.fa-arrow-right{
    margin: 5px;
}
/* Second section styles  */
.container{
    margin-top: 100px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}
.collection{
    box-shadow:5px 5px 30px gray;
    border-radius: 5px;
}
.collection-title{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.collection img{
    width: 87%;
    margin-top: 10px;
}
.property-name{
   font-size: 30px;
   margin-top: 16px;
}
.price{
    font-size: 25px;
    font-weight: 400;
    margin-top: -20px;
}
.rating{
    margin-top: -10px;
}
.fa-star{
    margin: 0px;
}
.filled{
    color: #FB8200;
}
.empty{
    color:  #AEAEAE;;
}
span, .collection-text{
    font: 15px;
}
.collection-text{
    line-height: 5px;
    color: #787885;
}
.next-page{
    color: #E02C6D;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    position: absolute;
    right: 120px;
}
.next-page:hover{
    color: #02B290;
    transition: 0.5s ease-in-out;
}
/* Third Section styles */
.gadgets-container{
    margin-top: 100px;
    margin-bottom: 150px;
}
.gadgets{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gadget img{
    margin-top: 70px;
    border-radius: 10px;
}
/* footer styles */
footer{
    margin: 0 -75px;
    text-align: center;
    padding: 40px;
    line-height: 10px;
    color: white;
    background-color: black;
}
/* media queries */
/* For Mobile View  */
@media only screen and (max-width:576px) {
    *{
        margin-left: 5px;
        margin-right: 5px;
    
    }
    .influencer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 70px; 
       
    }
    .influencer-introduction {
        text-align: center;
        width: 100%;
    }
    .influencer-introduction .text{
        text-align: justify;
    }
   
    .collections{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
  .collection img{
      width: 98%;
  }
    .gadgets{
        display: flex;
        flex-direction: column;
    }
    .gadget img{
        width: 100%;
    }
    
}
/* For Tablet display */
@media only screen and (min-width:577px) and (max-width:768px) {
    *{
        margin-left: 5px;
        margin-right: 5px;
    }
    .influencer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 70px;
    }
    .influencer-introduction {
        text-align: center;
        width: 100%; 
    }
    .influencer-introduction .text{
        text-align: justify;
    }
    .collections{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
  .collection img{
      width: 98%;
  }
    .gadgets{
        display: flex;
        flex-direction: column;
    }
    .gadget img{
        width: 100%;
    }
    
}
@media only screen (min-width:769px) and (max-width:1400px) {
    *{
        margin-left: 5px;
        margin-right: 5px;
    }
    .influencer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 70px;
    }
    .influencer-introduction {
        text-align: center;
        width: 100%; 
    }
    .influencer-introduction .text{
        text-align: justify;
    }
    .banner img{
        width: 100%;
    }
    .collections{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
  .collection img{
      width: 98%;
  }
    .gadgets{
        display: flex;
        flex-direction: column;
    }
    .gadget img{
        width: 100%;
    }
    
}

